*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main-block{
  display:flex;
  flex-direction: row;
  border:1px solid rgb(212, 212, 212);
  height:100vh;
  overflow: hidden;
  width:100%;
}

.side-banner-div{
  width:45%;
  overflow: hidden;
  position: relative;
}
.side-banner-div .side-banner-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:right;

}
.side-banner-div .side-banner-floating-header{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: absolute;
  padding:20px 50px 0px 50px;
}
.side-banner-div .side-banner-floating-header img{
  width: 130px;
}
.side-banner-div .side-banner-floating-header ul{
  list-style: none;
  display: inline-flex;
}
.side-banner-div .side-banner-floating-header ul li{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size:20px;
  height:30px;
  width:30px;
  /* border:1px solid rgb(167, 167, 167); */
  border-radius:50%;
  margin-right:5px;
}

.side-banner-div .side-banner-bottom-text{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  bottom: 20%;
  height:50px;
  background: rgb(31,30,30);
  background: -moz-linear-gradient(180deg, rgba(31,30,30,0.15449929971988796) 26%, rgba(33,33,33,0.23012955182072825) 59%, rgba(21,22,22,0.2329306722689075) 84%);
  background: -webkit-linear-gradient(180deg, rgba(31,30,30,0.15449929971988796) 26%, rgba(33,33,33,0.23012955182072825) 59%, rgba(21,22,22,0.2329306722689075) 84%);
  background: linear-gradient(180deg, rgba(31,30,30,0.15449929971988796) 26%, rgba(33,33,33,0.23012955182072825) 59%, rgba(21,22,22,0.2329306722689075) 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1e1e",endColorstr="#151616",GradientType=1);
  position: absolute;
  height: 159px;
  background: #00000021;
  background-blend-mode: soft-light;
}

.side-banner-div .side-banner-bottom-text p{
  color: #ffffff;
  font-weight: 300;
  font-size:20px;
  z-index: 3;
}
.side-banner-div .side-banner-bottom-text h3{
  color: #ffffff;
  font-weight: 700;
  font-size:25px;
  z-index: 3;
}
.warranty-form-div{
  width: 55%;
  padding:30px 50px 10px 50px;
  height:100vh;
  overflow: auto;
}
.warranty-form-div h4{
  margin-bottom:20px;
}

.warranty-form-div input, select{
  height:40px;
  /* width: 80%; */
  border: 1px solid rgb(207, 207, 207);
  margin-bottom:15px;
  border-radius: 0px;
}
.warranty-form-div select, input[type='date']{
  color: #6d6c6c;
  padding-left:12px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 0px;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: " ";
}

::placeholder{
  padding-left:0px;
  font-size: 12px;
  font-weight: 400;
}

.input-group-text{
  background: white;
  max-height: 40px;
  border-radius: 0px;
  cursor: pointer;
}

.upload-div .upload-div-header h6{
  margin-bottom: 0px;
  color: #595858;
  font-size: 14px;
  font-weight: 500;
}

.upload-div .upload-div-header p{
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 400;
}
.terms-condition{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size:14px;
}
.terms-condition input{
  margin-right:10px;
  height:15px;
  width:15px;
}

.terms-condition p a{
  text-decoration: none;
  color:#51af4b;
  font-weight:400;
}
.submit-button .btn-success{
  background-color:#51af4b;
  width:30%;
}




#otp-model{
  background: #0000004d;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#otp-model .card{
  border-radius:0px;
  width:40%;
  padding:10px;
  box-shadow: 0px 0px 10px #c9c8c8;
}
#otpVerifyForm .otp-input-box input{
  margin-right:10px;
  max-height:50px;
  max-width:50px;
}

#otpVerifyForm .submit-button input{
  border-radius:0px;
  background-color:#51af4b;
  border:1px solid #51af4b;
}

#otp-model .card .form-control{
  border-radius:0px;
}

#otpVerifyForm .submit-button a{
  text-decoration: none;
  font-size:15px;
}
#otpVerifyForm .submit-button #otpTimer{
  color:gray;
}

#serial-no-model{
  background: #0000004d;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#serial-no-model .card{
  border-radius:0px;
  width:40%;
  padding:10px;
  box-shadow: 0px 0px 10px #c9c8c8;
}

#serial-no-model .submit-button input{
  border-radius:0px;
  background-color:#51af4b;
  border:1px solid #51af4b;
}

#serial-no-model img{
  height:150px;
  width:100%;
}

.navbar{
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 0px 10px #dfdfdf;
  padding:5px 100px 5px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.navbar img{
  height:60px;
}

.navbar .nav-links{
  margin-bottom:0px;
  list-style: none;
}
.navbar .nav-links  li button{
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  background: #097ba3;
  color: white;
  border: 1px solid #097ba3;
}

.terms-and-conditions-div{
  margin-top:30px;
  margin-bottom:80px;
}

.terms-and-conditions-div h5{
  margin-top:10px;
}

.terms-and-conditions-div p{
  text-align: justify;
  margin-left:5px;
  font-size:14px;
  margin-bottom:0px;
}

.terms-and-conditions-div .terms-list ul{
  list-style: numeric;
}

table, th, td{
  border:1px solid black;
  padding:5px;
  font-size:14px;
  margin-bottom:10px;
}

@media only screen and (min-width: 1025px){
  #otp-model .card {
    width: 30%;
  }

  #serial-no-model .card {
    width: 30%;
  }
}

@media only screen and (max-width: 1024px){
  .main-block{
    height:100%;
    flex-direction: column;
    overflow: scroll;
  }

  .side-banner-div {
      width: 100%;
      overflow: visible;
  }
  .warranty-form-div {
      width: 100%;
      padding: 30px 22px 10px 22px;
  }
  .submit-button .btn-success{
    background-color:#51af4b;
    width:50%;
  }
  .side-banner-div .side-banner-bottom-text p {
      margin-bottom: 2px;
  }
}

@media only screen and (max-width: 650px){
  .side-banner-div .side-banner-image {
      height: 320px;
  }

  #otp-model .card {
    width: 96%;
  }

  #serial-no-model .card {
    width: 96%;
  }

  #serial-no-model img{
    height:100px;
    width:100%;
  }
}

@media only screen and (min-width: 650px) and (max-width:1024px){
  .side-banner-div .side-banner-image {
      height: 450px;
  }

  #otp-model .card {
    width: 65%;
  }

  #serial-no-model .card {
    width: 65%;
  }

  #serial-no-model img{
    height:100px;
    width:100%;
  }
}

@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}